@model Guest
@{
    ViewData["Title"] = "addGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post">
        <div>
            <label asp-for="FName">Enter firstname</label>
            <input asp-for="FName" class="w3-input w3-animate-input"style="width:135px" type="text" /><br/><br /><br />
        </div>
        <div>
            <label asp-for="LName">Enter lastname</label>
            <input asp-for="LName" class="w3-input w3-animate-input" style="width:135px" type="text" /><br /><br /><br />
        </div>
        <div>
            <label asp-for="RoomNum">Enter room number</label>
            <input asp-for="RoomNum" class="w3-input w3-animate-input" style="width:135px" type="text" /><br /><br /><br />
        </div>
        <div>
            <label asp-for="Age">Enter age</label>
            <input asp-for="Age" class="w3-input w3-animate-input" style="width:135px" type="text" />
        </div>
        <br><br>
        <input href="#"  class="w3-btn w3-light-grey w3-hover-green w3-round" type="submit" />
    </form>
</div>