
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div>
        <form method="post">
            <label for="room">Room number</label>
            <input class="form-control  w3-input-border w3-animate-input" style="width:135px" for="room" type="number" id="room" name="room"/>
            <br><br>
            <input href="#" class="w3-btn w3-light-grey w3-hover-green w3-round" type="submit" />
            <br><br>
        </form>
    </div>
</center>