@model Booking
@{
    ViewData["Title"] = "Create";
}

<div>
    <form method="post">
        <div>
            <label asp-for="Day">Enter day</label>
            <input class="form-control" asp-for="Day" />
        </div>
        <div>
            <br><br>
            <label asp-for="Month">Enter month</label>
            <input class="form-control"asp-for="Month" />
        </div>
        <div>
            <br><br>
            <label asp-for="RoomNr">Enter room number</label>
            <input class="form-control" asp-for="RoomNr" />
        </div>
        <div>
            <br><br>
            <label asp-for="Adults">Enter number of adults</label>
            <input  class="form-control" asp-for="Adults" />
        </div>
        <div>
            <br><br>
            <label asp-for="Kids">Enter number of kids</label>
            <input class="form-control" asp-for="Kids" />
        </div>
        <br/><br/>
        <input href="#" class="btn btn-primary" type="submit"/>
    </form>
</div>

