@model Booking
@{
    ViewData["Title"] = "Create";
}
    <center>
        <div>
            <form method="post">
                <div>
                    <label asp-for="Day">Enter day</label>
                    <input class="form-control  w3-input-border w3-animate-input" style="width:135px" placeholder="1-31" asp-for="Day" type="text" />
                </div>
                <div>
                    <br><br>
                    <label asp-for="Month">Enter month</label>
                    <input class="form-control  w3-input-border w3-animate-input" style="width:135px" placeholder="1-12" asp-for="Month" type="text" />
                </div>
                <div>
                    <br><br>
                    <label asp-for="RoomNr">Enter room number</label>
                    <input class="form-control  w3-input-border w3-animate-input" style="width:135px" placeholder="eks. 200" asp-for="RoomNr" type="text" />
                </div>
                <div>
                    <br><br>
                    <label asp-for="Adults">Enter number of adults</label>
                    <input class="form-control  w3-input-border w3-animate-input" style="width:135px" placeholder="eks. 10"asp-for="Adults" type="text" />
                </div>
                <div>
                    <br><br>
                    <label asp-for="Kids">Enter number of kids</label>
                    <input class="form-control  w3-input-border w3-animate-input" style="width:135px" placeholder="eks 20"asp-for="Kids" type="text" />
                </div>
                <br /><br />
                <input href="#" class="w3-btn w3-light-grey w3-hover-green w3-round" type="submit" />
            </form>
        </div>
    </center>
