
@{
    ViewData["Title"] = "Index";
}


<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <div class="col-md-16">
                
                <input class="w3-btn w3-light-grey w3-hover-green w3-round" type="button" value="Display bookings" id="Displaybtn" onclick="redirectToDisplay()" />
               
                <input class="w3-btn w3-light-grey w3-hover-green w3-round" type="button" value="Create booking" id="Createbtn" onclick="redirectToCreate()">

                <input class="w3-btn w3-light-grey w3-hover-green w3-round" type="button" value="Display Guests" id="displayguestbtn" onclick="redirectToDisplayGuest()" />

                <input class="w3-btn w3-light-grey w3-hover-green w3-round" typetype="button" value="Add guest" id="AddGuestbtn" onclick="redirectToAddGuest()" />
            </div>
        </div>

        <script>
            function redirectToDisplay() {
                document.location = 'Reception/Display';
            }
            function redirectToCreate() {
                document.location = 'Reception/Create';
            }
            function redirectToAddGuest() {
                document.location = 'Reception/addGuest';
            }
            function redirectToDisplayGuest() {
                document.location = 'Reception/DisplayGuest';
            }
        </script>
