
@{
    ViewData["Title"] = "Index";
}

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <div class="col-md-4">
        <input type="button" value="Display bookings" id="Displaybtn" onclick="redirectToDisplay()" />        

        <input type="button" value="Create booking" id="Createbtn" onclick="redirectToCreate()">

        <input type="button" value="Display Guests" id="displayguestbtn" onclick="redirectToDisplayGuest()"/>

        <input type="button" value="Add guest" id="AddGuestbtn" onclick="redirectToAddGuest()"/>
    </div>
</div>

<script>
    function redirectToDisplay() {
        document.location = 'Reception/Display';
    }
    function redirectToCreate() {
        document.location = 'Reception/Create';
    }
    function redirectToAddGuest() {
        document.location = 'Reception/addGuest';
    }
    function redirectToDisplayGuest() {
        document.location = 'Reception/DisplayGuest';
    }
</script>