@model CheckIn
@{
    ViewData["Title"] = "Waiter";
}


<center>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="RoomNr" class="control-label"></label>
        <input asp-for="RoomNr" class="form-control  w3-input-border w3-animate-input" style="width: 135px"/>
        <span asp-validation-for="RoomNr" class="text-danger"></span>

        <label asp-for="Adults" class="control-label"></label>
        <input asp-for="Adults" class="form-control  w3-input-border w3-animate-input" style="width: 135px"/>
        <span asp-validation-for="Adults" class="text-danger"></span>

        <label asp-for="Kids" class="control-label"></label>
        <input asp-for="Kids" class="form-control  w3-input-border w3-animate-input" style="width: 135px"/>
        <span asp-validation-for="Kids" class="text-danger"></span>

        <br/>
        <input type="submit" value="Create" class="w3-btn w3-light-grey w3-hover-green w3-round"/>


    </form>
</center>
